.field{
    width: 500px;   
   }

.field input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   margin-bottom: 50px;
   opacity: 0.8;
}
