.container {
  margin: 2rem auto;
  padding: 0 1rem;
}

mat-radio-button {
  margin-right: 10px;
}

p {
  margin-top: 10px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
}
