<div class="container">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step>
      <ng-template matStepLabel>Información Personal</ng-template>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Información Familiar</ng-template>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="antecedentesFormGroup">
      <ng-template matStepLabel>Antecedentes</ng-template>
      <app-card
        title="Antecedentes. ¿Ha tenido alguno de los siguientes antecedentes? 🧾"
      >
        <form [formGroup]="antecedentesFormGroup">
          <app-boolean-radio-group
            label="Hipertensión arterial, o enfermedad cardio vascular, infartos,
      enfermedad cerebrovascular"
            controlName="hipertension"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Diabetes"
            controlName="diabetes"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Enfermedades pulmonares crónicas (EPOC / Asma)"
            controlName="enfermedad_pulmonar"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Enfermedades renales (riñones) o hepáticas (hígado)"
            controlName="enfermedad_renal"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Enfermedades autoinmunes, inmunosupresión, toma medicamentos
        inmunosupresores, cancer o VIH"
            controlName="enfermedad_autoinmune"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Malnutrición (obesidad o desnutrición)"
            controlName="malnutricion"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Tabaquismo"
            controlName="tabaquismo"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Embarazo Actualmente"
            controlName="embarazo"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Convive con personas mayores de 70 años o personas que trabajan en
          prestación asistencial en salud"
            controlName="convive_mayores"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Si lleva tratamiento médico por los antecedentes de salud, marque Si, de
          lo contrario marque No"
            controlName="tratamiento_medico"
          ></app-boolean-radio-group>
        </form>
      </app-card>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="sintomasFormGroup">
      <ng-template matStepLabel>Sintomas</ng-template>
      <app-card title="¿Ha tenido síntomas en los últimos 2 días? 🤒">
        <form [formGroup]="sintomasFormGroup">
          <app-boolean-radio-group
            label="Tos"
            controlName="tos"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Dolor de garganta"
            controlName="dolor_garganta"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Fiebre cuantificada mayor a 38°C"
            controlName="fiebre"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Secreción nasal (moco o flema)"
            controlName="secrecion_nasal"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Malestar general, escalofrio o dolor muscular"
            controlName="malestar_general"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Disminución de percepción de olores y sabores"
            controlName="disminucion_percepcion"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Dificultad respiratoria"
            controlName="dificultad_respiratoria"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="Diarrea"
            controlName="diarrea"
          ></app-boolean-radio-group>
        </form>
      </app-card>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="contactoFormGroup">
      <ng-template matStepLabel>Identificación de contacto</ng-template>
      <app-card title="Identificación de contacto 👨‍👨‍👧‍👦">
        <form [formGroup]="contactoFormGroup">
          <app-boolean-radio-group
            label="¿En los últimos 15 días ha tenido contacto estrecho (menor a 2 metros
    por 15 minutos sin protección) con una persona con COVID-19 positivo?"
            controlName="contacto_positivo"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="¿En los últimos 15 días ha tenido contacto estrecho (menor a 2 metros
    por 15 minutos sin protección) con una persona con síntomas
    respiratorios y ud no sabe si tiene COVID-19 positivo?"
            controlName="contacto_sintomatico"
          ></app-boolean-radio-group>
        </form>
      </app-card>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="sectorFormGroup">
      <ng-template matStepLabel>Sector de trabajo</ng-template>
      <app-card title="Sector trabajo 💻">
        <form [formGroup]="sectorFormGroup">
          <p>¿En qué sector trabaja usted?</p>
          <mat-form-field appearance="fill">
            <mat-label>Seleccione...</mat-label>
            <select matNativeControl required formControlName="sector">
              <option
                value="Personal asistencial en Salud que atiende pacientes"
              >
                Personal asistencial en Salud que atiende pacientes
              </option>
              <option
                value="Personal asistencial en Salud que No atiende pacientes"
              >
                Personal asistencial en Salud que No atiende pacientes
              </option>
              <option value="Personal de Aseo en institución de salud">
                Personal de Aseo en institución de salud
              </option>
              <option value="Personal de Vigilancia en institución de salud">
                Personal de Vigilancia en institución de salud
              </option>
              <option value="Administrativo en institución de salud">
                Administrativo en institución de salud
              </option>
              <option value="Atencón al público">Atencón al público</option>
              <option value="Educación">Educación</option>
              <option value="Comercio">Comercio</option>
              <option value="Manufactura">Manufactura</option>
              <option value="Telecomunicaciones">Telecomunicaciones</option>
              <option value="Servicio">Servicio</option>
              <option value="Construcción">Construcción</option>
              <option value="Hidrocarburos">Hidrocarburos</option>
              <option value="Otro">Otro</option>
            </select>
          </mat-form-field>

          <p>
            Indique si durante la pandemia Covid19, usted ha estado trabajando
            en alguna de estas áreas: (En caso de haber trabajado en más de una
            de estas áreas, marque la de mayor frecuencia)
          </p>
          <mat-form-field appearance="fill">
            <mat-label>Seleccione...</mat-label>
            <select
              matNativeControl
              required
              formControlName="area_durante_covid"
            >
              <option value="Área de salud en urgencias">
                Área de salud en urgencias
              </option>
              <option
                value="Área de salud en hospitalización de pabellones Covid"
              >
                Área de salud en hospitalización de pabellones Covid
              </option>
              <option
                value="Área de salud en Unidades de cuidado intensivo adulto/pediátrica y/o neonatal"
              >
                Área de salud en Unidades de cuidado intensivo adulto/pediátrica
                y/o neonatal
              </option>
              <option
                value="Área de salud en unidades de cuidado intermedio adulto y/o pediátrica"
              >
                Área de salud en unidades de cuidado intermedio adulto y/o
                pediátrica
              </option>
              <option value="Ninguna de las anteriores">
                Ninguna de las anteriores
              </option>
            </select>
          </mat-form-field>

          <p>
            En caso de que la pregunta anterior no le aplique, por favor indique
            en qué tipo de área ha estado trabajando:
          </p>
          <mat-form-field appearance="fill">
            <mat-label>Seleccione...</mat-label>
            <select matNativeControl required formControlName="otra_area">
              <option value="No aplica">No aplica</option>
              <option value="Otra área de la salud">
                Otra área de la salud
              </option>
              <option value="Área administrativa que no es de salud">
                Área administrativa que no es de salud
              </option>
              <option value="Área operativa que no es de salud">
                Área operativa que no es de salud
              </option>
            </select>
          </mat-form-field>
        </form>
      </app-card>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step [stepControl]="pruebasFormGroup">
      <ng-template matStepLabel>Pruebas</ng-template>
      <app-card title="Pruebas diagnósticas 👀">
        <form [formGroup]="pruebasFormGroup">
          <app-boolean-radio-group
            label="¿En los últimos 15 días le han realizado prueba de COVID-19 con muestra
    en nariz o garganta (RT-PCR o antígeno) que ha salido positiva?"
            controlName="prueba_con_muestra"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="¿En los últimos 15 días le han realizado prueba de COVID-19 en sangre
    (Prueba rápida IgG/IgM) que ha salido positiva?"
            controlName="prueba_sangre"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="¿En los últimos 15 días ha estado o está en aislamiento preventivo por
    que ha sido diagnosticado de COVID-19?"
            controlName="aislamiento"
          ></app-boolean-radio-group>
          <app-boolean-radio-group
            label="¿En los últimos 15 días ha tenido incapacidad temporal por caso asociado
    a COVID-19?"
            controlName="incapacidad"
          ></app-boolean-radio-group>
        </form>
      </app-card>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Fecha de ingreso</ng-template>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)="stepper.reset()">Reiniciar</button>
      <button type="submit" mat-stroked-button color="primary">Enviar</button>
    </mat-step>
  </mat-vertical-stepper>
</div>
