.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

nav a:hover,
.active {
  background: rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}
